@use 'custom';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&family=Montserrat:wght@500;600;700&family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

$enable-rfs:                 true;

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.bi-arrow-up-square-fill {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  background-color:#000;
  color: #fda900;
  border-radius: 50%;
  border-radius: 1px solid #fff;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.bi-arrow-up-square-fill:hover {
  background-color: #092748;
  color: #fda900;
}

.btnr {
  transition: 0.8s;
}

.btnr:hover {
  background-color: #092748;
  color: #fda900;

}

.mutedd {
  color: #6c6c6c;
}

.nv a {
  position: relative;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.nv a:after {
  content: "";
  position: absolute;
  background-color: #fdb900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nv a:hover {
  color: #092748;
}

.nv a:hover:after {
  width: 100%;
}

// Fonts
.fontpoppins {
  font-family: 'Poppins', sans-serif;
}

.fontmontressat {
  font-family: 'Montserrat', sans-serif;
}

.fontinter {
  font-family: 'Inter', sans-serif;
}

// Colors

.logotitle1c {
  color: #092748;
}

.navbar-toggler {
  background-color: #fda900;
}

.yellow {
  color: #fdb900;
}

.btnyellow {
  background-color: #fdb900;
}

.black {
  color: #000000;
}
 
.white {
  color: #FFFFFF;
}

.wwdtextc {
  color: #434f53;
}

.wwdtitlec {
  color: #292929;
}

.wwdtext2c {
  color: #6c6c6c;
}

.obbackc {
  background-color: #092748;
}


//hover

@media screen and (min-width: 720px) {
  .card {
    transition: 1s;
  }
  
  .card:hover {
    transform: scale(1.2);
    z-index: 2;
  }
}


// Background images

.showcase {
  background-image: url(../assets/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  min-height: 600px;
}

.centered {
  top: 40%;
  left: 10%;
}

.videopr {
  background-image: url(../assets/videopres.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  min-height: 300px;
}


.reqcallback {
  background-image: url(../assets/reqcallback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  min-height: 300px;
}

.resproject1,
.resproject2,
.resproject3,
.resproject4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  height: auto;
  background-blend-mode: multiply;
}

.resproject1 {
  background-image: linear-gradient(#337ab7, #337ab7), url(../assets/recproject1.jpg);
}
.resproject2 {
  background-image: linear-gradient(#337ab7, #337ab7), url(../assets/recproject2.jpg);
}
.resproject3 {
  background-image: linear-gradient(#337ab7, #337ab7), url(../assets/recproject3.jpg);
}
.resproject4 {
  background-image: linear-gradient(#337ab7, #337ab7), url(../assets/recproject4.jpg);
}


// icons

.iconad  {
  max-width: 100%;
  height: 70px;
}

//media-query
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

#project-popup1,
#project-popup2,
#project-popup3,
#project-popup4,
 .modal-img1 {
  width: 100%;
}