@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&family=Montserrat:wght@500;600;700&family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

.logo-title p:first-child {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

.logo-title p:nth-child(2) {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.fontpoppins {
  font-family: 'Poppins', sans-serif;
}

.fontmontressat {
  font-family: 'Montserrat', sans-serif;
}

.fontinter {
  font-family: 'Inter', sans-serif;
}

.logocolor1 {
  color: #092748;
}

.logocolor2 {
  color: #fdb900;
}

.showcase {
  background-image: url(./assets/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  height: 600px;
}

.gradientshow {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#435e7c, transparent);
}

@media only screen and (max-width: 600px) {
  .showcasegreet {
    font-size: 13px;
  }
}
